
// to add custom font family
@font-face {
    font-family: "CitySansBook"; // custom font name
    src: url("../font/ViceCitySans-Light.otf"); // give relative path for font
  }
  @font-face {
    font-family: "CitySansItalic";
    src: url("../font/ViceCitySans-ItalicLight.otf");
  }
  @font-face {
    font-family: "CitySansBookBold";
    src: url("../font/ViceCitySans-Bold.otf");
  }
// adding custom font family  style end

// style in root 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    $color:  #009e77;
    $background-color:#00945f;
    $background-color:#ebf7f5;
    font-family: "CitySansBook";
}

// give container width 
.container{
    max-width: 95%;
    margin: auto;
}

// scss mixin style for reusable

@mixin padding{ //mixing for resuable paading
    padding: 4.5rem 0;
}

// resuable title font style
@mixin title{
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #00945f;
    font-family: "CitySansBook";
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 2rem;
}

// to give underline for a text
@mixin titleAfter{
    content: '';
    position: absolute;
    bottom: 0px; 
    left: 50%;
    transform: translateX(-50%); /* Center the underline */
    width: 80px;  
    height: 2px;  
    background-color:  #00945f; 
    margin: auto;
}

// paragraph style
@mixin paragraph{
    font-size:30px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #888888;
    font-family: "CitySansBook";
}

// small paragraph style
@mixin titlt-sm{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #00945f;
    font-family: "CitySansBook";
    margin-bottom: 1rem;
}

// for grid system row and column 
.row{
    display: grid; 
    grid-template-columns: 1fr 1fr; //give the columns into two parts with 2 equal width
    grid-template-rows: auto auto; // two rows with auto adjust
    row-gap: 6rem; //give the gab bwetween rows
    margin-top: 3.5rem;
}

// styles for nav menu
nav{
    padding: 3.3rem 0;
        .nav-logo{
            img{ //styles for logo image
                width: 317px;
                height: 35px;
                display: inline-block;
            }
        }   
}
// end nav menu styles


// hero section style start
.hero-sec{
    position: relative;
    overflow: hidden; //overflow hide 
    width: 100%; 
    max-width: 100%;
    display: grid; //display grid format
    background-image: url(../images/image.jpg);
    background-size: 140%; //keep image zoom for an object
    background-position:60% 23%; //image position for object come on screen
    background-repeat: no-repeat;
    height:63vh; //viewport height 
    .hero-right{ //style for slanted area
            position: absolute; 
            right: 0px;
            opacity: 0.8; //give opacity 
            height: 100%;
            width: 50%;
            z-index: 1; //z-inde for visible over div
            background-color: #005944;
            transform-origin:0% 100%; // sets pivot point at bottom left corner
            transform: skewX(-10deg); // slanted a div at 10deg
    }
}
// hero section style end

// investment section style start
.investment-sec{
    @include padding; //mixin scss
    h2{
        @include title;
        &::after{
           @include titleAfter; //used mixin property
        }
    }
    p{
        @include paragraph; //used mixin property
    }
    div{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        button{ //style for button
            width: 165px;
            height: 40px;
            background-color: #e97300;
            text-align: center;
            border: 0;
            outline: 0;
            color: #fff;
            font-size: 24px;
        }
    }
}
// investment section style end

// citizen section style start
.cityzen-sec{
    h2{
        @include title; // include mixin property use
        &::after{
            // used mixin
            @include titleAfter; 
        }
    }
    .row{
        h3{
            @include titlt-sm;
        }
        p{
            font-size: 18px;
            line-height: 31px;
            color: #888888;
        }
        div:nth-child(odd){ 
                border-right: 1px solid #cfcfcf;
                padding-right: 2.5rem;
        }
        div:nth-child(even){
            padding-left: 3rem;
        }
        .learn-more{
            text-decoration: none;
            color: #80c107;
            display: inline-flex;
            align-items: center;
        }
       
    }
}
// citizen section style end

// citizen-bank section style start
.citizen-bank-sec{
    @include padding;
    h2{
        padding: 1rem;
        background-color: #00945f;
        font-size: 24px;
        letter-spacing: 0px;
        line-height: 31px;
        color: #ffffff;
        text-align: center;
    }
    p{
        font-size: 18px;
        line-height: 31px;
        color: #888888;
        background-color: #ebf7f5;
        padding: 2rem 4rem;
    }
}
// citizen-bank section style end

// testimonial section style start
.testimonial-sec{
    padding: 0 4rem;
    .row-flex{
        display: flex;
        gap: 150px;
        width: 100%;
        div{
            text-align: center;
            
            img{
                width: 180px;
                height: 180px;
                border-radius: 50%;
                object-fit: cover;
            }
            blockquote{ //style for quote text
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-content: space-between;
                position: relative;
                font-family: initial;
                &::after{ //style for quote image
                    content: '“';
                        position: absolute;
                        font-size: 12rem;
                        opacity: 0.1;
                        top: -30px;
                        left: -10px;
                        z-index: -1;
                    }

                    p.quote{
                        position: relative;
                        margin:1rem 0; 
                        q{
                            font-size: 18px;
                            letter-spacing: 0px;
                            line-height: 29px;
                            color: #666666;
                            font-style: italic;
                            font-family: "CitySansItalic";
                            
                        }
                        
                    }
                    .name,.role{ //style for name & their role
                        font-size: 18px;
                        letter-spacing: 0px;
                        line-height: 29px;
                        color: #00945f;
                        font-family: "CitySansBook";
                        text-align: center;
                    }
                }
                
               
            }
        }
        
}
// testimonial section style end

// footer section style start
.footer-sec{
    padding: 2rem 0;
    margin-top: 7rem;
    border-top: 1.5px solid #00945f;
    .disclaimer{
        padding-bottom: 2rem;
        p{
            font-size: 11px;
            color: #666666;
            opacity: 0.8;
            font-family: "Arial";
            a{
                color: #666666;
                font-family: "Arial";
            }
        }
    }
    .social-icons{ //style for social icons section
        margin:1.5rem 0;
        ul{
            list-style-type: none;
            display: flex;
            gap: 15px;
            li{
                img{
                    width: 28px;
                    height: 28px;
                }
            }
            li .you-tube{
                background-color: rgb(223, 29, 29);
            }
        }
    }
    .privacy{ // styles for privacy text para
        display: flex;
        gap: 15px;
        justify-content: start;
       a{
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            font-family: "CitySansBookBold";
            padding-right: 1rem;
            text-decoration: none;
       }
       a:first-child{
        border-right: 1px solid #000;
       }
    }
}
// footer section style end


// mobile responsive upto 600px; 
@media  (max-width:600px) {
    nav {
         padding: 1.4rem 0;
        text-align: center;
        .nav-logo{
            img{
                max-width: 173px;
                height: 19px;
            }
        }
    }
    .hero-sec {
        background-size: 250%;
        background-position: 27% 23%;
        background-repeat: no-repeat;
        height: 202px;
        .hero-right {
            display: none;
        }
    }
    .container{
        width: 90%;
    }
    .row{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .investment-sec{
        padding: 3rem 0;
        h2{
            margin-bottom: 1rem;
        }
        p {
            font-size: 20px;
            letter-spacing: 0px;
            line-height: 30px;
        }
        div{
           margin: 2rem 0 1rem 0;
        }
    }
    .cityzen-sec {
        h2{
            margin-bottom: 0;
        }
         
        .row{
            margin-top: 2rem;
            row-gap: 1.2rem;
            h3{
                margin-bottom: 0.5rem;
            }
            div:nth-child(even),div:nth-child(odd) {
                padding-left: 0;
                padding-bottom: 1.2rem;
                border-bottom: 1px solid #cfcfcf;
            }
            div:nth-child(odd) {
                border-right: none;
                padding-right: 0rem;
            }
            div:last-child{
                border-bottom: none;
            }
        }
    }
    .citizen-bank-sec {
        padding: 0.5rem 0;
        p{
            padding: 1rem;
        }
    }
    .testimonial-sec {
        margin-top: 2rem;
        .row-flex {
            flex-wrap: wrap;
            gap: 40px;
        }
    }
    .footer-sec{
        margin-top: 5rem;
        padding: 0.5rem 0 2rem 0;
            .social-icons{
                ul {
                    gap: 10px;
                }
            }

        .privacy a {
                font-size: 12px;
        }    
    }
        
}

// media for mobile upto 375px  (hero section)
@media (max-width:375px){
    .hero-sec {
        background-size: 250%;
        background-position: 27% 23%;
        background-repeat: no-repeat;
        height: 202px;
    }
}

// responsive for mobile resolution between 375px and 425px (hero section) 
@media (min-width:375px) and (max-width:425px) {
    .hero-sec {
        height: 250px;
    }
}


// responsive for mobile resolution between 426px and 500px  (hero section)
@media (min-width:426px) and (max-width:500px) {
    .hero-sec {
        height: 270px;
    }
}

// responsive for mobile resolution between 501px and 600px (hero section)
@media (min-width:501px) and (max-width:600px) {
    .hero-sec {
        height: 290px;
    }
}

// mobile responsive end


// responsive for other devices between tablet to larger laptop
@media (min-width:601px) and (max-width:999px) {
    .hero-sec {
        height: 300px;
    }
    .testimonial-sec {
        margin-top: 2rem;
        .row-flex {
            flex-wrap: wrap;
            gap: 40px;
        }
    }
}
// responsive end

